{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<body>

    <h2>UEFA Champions League</h2>
    <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/0/0a/UEFA_Champions_League_logo.svg/1024px-UEFA_Champions_League_logo.svg.png" alt="Логотип Лиги чемпионов" width="300">

    <div class="info">
        <p><strong>Основан:</strong> 1955; 70 лет назад (Кубок европейских чемпионов)</p>
        <p><strong>Реорганизован:</strong> 1992; 33 года назад (Лига чемпионов)</p>
        <p><strong>Регион:</strong> Европа (УЕФА)</p>
        <p><strong>Число участников:</strong> 36 (общий этап), 81 (всего)</p>
        <p><strong>Квалификации:</strong> Суперкубок УЕФА, Клубный чемпионат мира</p>
        <p><strong>Связанные турниры:</strong> Лига Европы УЕФА, Лига конференций УЕФА</p>
        <p><strong>Действующий победитель:</strong> Испания Реал Мадрид (15)</p>
        <p><strong>Наиболее титулован:</strong> Испания Реал Мадрид (15)</p>
        <p><strong>Сайт:</strong> <a href="https://uefa.com/uefachampionsleague" target="_blank">uefa.com/uefachampionsleague</a></p>
        <p><strong>Сезон:</strong> 2024/25</p>
    </div>

</body>
{% endblock %}